extends admin_base.pug


block append content
    div(class='container-fluid')
        form(action='/admin/booking/edit' method='POST')
            input(type='hidden' name='booking_id' value=rows.booking_id)
            input(type='hidden' name='old_email' value=rows.email)
            div(class='form-group row col-6 mb-3')    
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Flight Number
                    label(class='col-sm-2 col-form-label') #{rows.flt_num}
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Flight Status
                    label(class='col-sm-2 col-form-label') #{rows.flt_status}
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Src >>> Dst
                    label(class='col-sm-8 col-form-label') #{rows.src_airport_name} (#{rows.src_airport_code}) >>> #{rows.dst_airport_name} (#{rows.dst_airport_code})
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Departure (GMT) >>> Arrival (GMT)
                    label(class='col-sm-8 col-form-label') #{rows.depart} >>> #{rows.arrive}
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Name
                    label(class='col-sm-8 col-form-label') #{rows.fname} #{rows.lname}       
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Seat
                    div(class='col-sm-5')
                        select(name="seat_num" class="form-select" id="seat_num")
                            each seat in all_seats
                                if seat.seat_num == curr_seat.seat_num
                                    option(value=seat.seat_num selected)=seat.seat_num
                                else
                                    option(value=seat.seat_num)=seat.seat_num
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Email
                    div(class='col-sm-5')            
                        input(type='email' class='form-control' id='email' name='email' value=rows.email)
                div(class='row mb-3')
                    div(class='col-sm-8 ms-auto')
                        button(type='submit' class="btn btn-primary") Update Booking