extends admin_base.pug

block append content
    div(class='container')
        div(class='row mb-3')
            div(class='col-sm-6 ms-auto')            
                a(href="/admin/flight/add" class="btn btn-primary my-3") Add Flight    
    table(class='table table-striped table-hover table-condensed')
        thead(class='table-dark')
            tr
                th ID
                th Flight No.
                th Airline
                th Aircraft
                th From Country
                th To Country
                th From Airport 
                th To Airport 
                th Depart 
                th Arrive 
                th Price
                th Status
                th(scope='col') Edit
        tbody
            if rowsJSON
                each row in rowsJSON
                    tr
                        td #{row["flt_id"]}
                        td #{row["flt_num"]}
                        td #{row["airline_name"]}
                        td #{row["aircraft"]}
                        td #{row["src_country_name"]}
                        td #{row["dst_country_name"]}
                        td #{row["src_airport_name"]} (#{row["src_airport_code"]})
                        td #{row["dst_airport_name"]} (#{row["dst_airport_code"]})
                        td #{row["depart"]}
                        td #{row["arrive"]}
                        td #{row["price"]}
                        td #{row["flt_status"]}
                        td      
                            form(action='/admin/flight/edit' method='GET')
                                input(type='hidden' class='form-control' value=row.flt_id id='flt_id' name='flt_id')
                                button(type='submit' class="btn btn-primary") E
