extends admin_base.pug

block append content
    div(class='container')
        div(class='row mb-3')
            div(class='col-sm-6 ms-auto')            
                a(href="/admin/flight/add" class="btn btn-primary my-3") Add Flight
        div(class='row mb-3')
            div(class='col-sm-6 ms-auto')            
                a(href="/admin/flight/delete" class="btn btn-primary my-3") Delete Selected Flights
    
    table(class='table table-striped table-hover table-condensed')
        thead(class='table-dark')
            tr
                each row in rowsKeyJSON
                    th(scope='col') #{row}
                th(scope='col') Cancel
                th(scope='col')
        tbody
            each row in rowsJSON
                tr
                    td #{row.ID}
                    td #{row["Flt #"]}
                    td #{row["Airline"]}
                    td #{row["Aircraft"]}
                    td #{row["From Country"]}
                    td #{row["To Country"]}
                    td #{row["From Airport"]}
                    td #{row["To Airport"]}
                    td #{row["Depart"]}
                    td #{row["Arrive"]}
                    td #{row["Price"]}
                    td #{row["Status"]}
                    td
                        input(type='checkbox')
                    td
                        form(action='/admin/flight/edit?id=' + row.ID method='GET')
                            input(type='hidden' class='form-control' value=row.ID id='row_id' name='row_id')
                            button(type='submit' class="btn btn-primary") Edit
