extends admin_base.pug

block append content
    div(class='container')
        form(action='/admin/flight/add' method='POST')              
            div(class='form-group row col-6 mb-3')
                datalist(id='airport_list')
                    each airport in airports 
                        option(value=airport.iata_code) #{airport.name}  
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Aircraft
                    div(class='col-sm-6 ms-auto')
                        select(name="aircraft" class="form-select" id="aircraft")
                            each aircraft in aircrafts
                                option(value=aircraft.id) #{aircraft.company} #{aircraft.model}
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Flight Number
                    div(class='col-sm-6 ms-auto')
                        input(type='text',class='form-control' id='flt_num' name='flt_num' maxlength='4')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') From Airport
                    div(class='col-sm-6 ms-auto')
                        input(list='airport_list',class='form-control' id='fm_airport' name='fm_airport')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') To Airport
                    div(class='col-sm-6 ms-auto')
                        input(list='airport_list',class='form-control' id='to_airport' name='to_airport')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Departure Date
                    div(class='col-sm-6 ms-auto')
                        input(class='form-control form-control-md' type='date' name='dpt_date')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Arrival Date
                    div(class='col-sm-6 ms-auto')
                        input(class='form-control form-control-md' type='date' name='arr_date')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Departure Time (GMT)
                    div(class='col-sm-6 ms-auto')            
                        input(type='time',class='form-control',id='dpt_time' name='dpt_time')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Arrival Time (GMT)
                    div(class='col-sm-6 ms-auto')            
                        input(type='time',class='form-control',id='arr_time' name='arr_time')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Price
                    div(class='col-sm-6 ms-auto')            
                        input(type='number',class='form-control',id='price' name='price')
                div(class='row mb-3')
                    label(class='col-sm-4 col-form-label') Status
                    div(class='col-sm-6 ms-auto')
                        select(name="status" class='form-select' id='status')
                            each status in ['active', 'cancelled', 'rescheduled']
                                option(value=status)=status
                div(class='row mb-3')
                    div(class='col-sm-6 ms-auto')            
                        button(type='submit' class="btn btn-primary") Add Flight