extends admin_base.pug

block append content
    div(class='container')
        div(class="title") Customer Booking Tracker
        
        div(class="search_box")
            input(type='text' id="search_input" placeholder="Input your search here")

        table(class="table")
            thead
                tr
                    th Customer ID
                    th Reference ID
                    th Flight ID
                    th Name
                    th Status
                    th(scope='col') Action
                    
            tbody
            if customers
                each row in customers
                    tr
                        td #{row["id"]}
                        td #{row["ref_num"]}
                        td #{row["flt_num"]} 
                        td #{row["fname"]} #{row["lname"]}
                        td #{row["status"]}
                        td      
                            div(class="d-flex flex-row mb-1")
                                div   
                                    form(action='/booking/edit' method='GET')
                                        input(type='hidden' class='form-control' value=row.ref_num id='ref_num' name='ref_num')        
                                        button(type="submit" class="btn")
                                            i(class="material-icons text-warning") Edit
                                div 
                                    form(action='/admin/booking' method='POST')
                                        input(type='hidden' class='form-control' value=row.ref_num id='ref_num' name='ref_num')
                                        button(type="submit" class="btn")
                                            i(class="material-icons text-danger") Delete
                        