extends admin_base.pug

block append content
    div(class='container')
        div(class="title") Customer Booking Tracker
        
        div(class="search_box")
            input(type='text' id="search_input" placeholder="Input your search here")

        table(class="table")
            thead
                tr
                    if rowsKey
                        each row in rowsKey
                            th(scope='col') #{row}
                        th(scope='col') Action
                    
            tbody
                if customers
                    each row in customers
                        tr
                            td #{row["id"]}
                            td #{row["flt_num"]}
                            td #{row["fname"]}
                            td #{row["lname"]}
                            td #{row["status"]}

                            td      
                                div(class="d-flex flex-row mb-1")
                                    div                 
                                        button(type="button" class="btn")
                                            i(class="material-icons text-warning") Edit
                                    div      
                                        button(type="button" class="btn")
                                            i(class="material-icons text-danger") Delete
                    