extends base.pug

block append content
    div(class='container')
        h3 Booking Summary
        if rows
            each row in rows
                hr
                div(class='row mb-3')
                    div(class='row mb-3')
                        label(class='col-sm-3 col-form-label') #[strong Reference Number:]
                        label(class='col-sm col-form-label') #{row["ref_num"]}
                    div(class='row mb-3')
                        label(class='col-sm-3 col-form-label') #[strong Name:]
                        label(class='col-sm col-form-label') #{row['fname']} #{row['lname']}
                    div(class='row mb-3')
                        label(class='col-sm-3 col-form-label') #[strong Registered email:]
                        label(class='col-sm col-form-label') #{row['email']}                        
                    div(class='row mb-3') 
                        label(class='col-sm-3 col-form-label') #[strong From >>> To:]
                        label(class='col-sm col-form-label') #{row['src_airport_name']} (#{row['src_airport_code']}), #{row['src_country_name']} >>> (#{row.dst_airport_code}), #{row['dst_country_name']}
                    div(class='row mb-3')
                        label(class='col-sm-3 col-form-label') #[strong Departure >>> Arrival]
                        label(class='col-sm col-form-label') #{row['depart']} >>> #{row['arrive']}
                    div(class='row mb-3')
                        label(class='col-sm-3 col-form-label') #[strong Flight Number / Seat Number:]
                        label(class='col-sm col-form-label') #{row['flt_num']} / #{row['seat_num']}
                    div(class='row mb-3')
                        label(class='col-sm-3 col-form-label') #[strong Status:]
                        label(class='col-sm col-form-label') #{row['booking_status']}
                    if row['booking_status'] == 'Active'
                        form(action='/booking/action' method='GET')
                            input(type='hidden' class='form-control' value=row.booking_id id='booking_id' name='booking_id')
                            input(type='submit' class="btn btn-primary col-sm-1" value='Edit' name='edit_action')
                            input(type='submit' class='btn btn-primary mx-3 col-sm-1' value='Cancel' name='cancel_action')