extends base.pug

block append content
    table(class='table table-striped table-hover table-condensed')
        thead(class='table-dark')
            tr
                th From
                th To
                th From Airport
                th To Airport
                th Depart 
                th Arrive 
                th Price
                th Action
        tbody
            if rowsJSON
                each row in rowsJSON
                    tr
                        td #{row["src_country_name"]}
                        td #{row["dst_country_name"]}
                        td #{row["src_airport_name"]} (#{row["src_airport_code"]})
                        td #{row["dst_airport_name"]} (#{row["dst_airport_code"]})
                        td #{row["depart"]}
                        td #{row["arrive"]}
                        td #{row["price"]}
                        td
                            form(action='/flight/booking/pax_information' method='POST')
                                input(type='hidden' class='form-control' value=row.flt_id id='flt_id' name='flt_id')
                                input(type='hidden' class='form-control' value=pax id='pax' name='pax')
                                button(type='submit' class="btn btn-primary") Book
    