extends base.pug

block append content
    div(class='container')
        div(class='row mb-3')
            h3 Flight Search Result
        div(class='row mb-3')
            h5(class='col-sm-11 mb-3') #{src_airport_name} (#{rows[0]["src_airport_code"]}) to #{dst_airport_name} (#{rows[0]["dst_airport_code"]})
    table(class='table table-striped table-hover table-condensed')
        thead(class='table-dark')
            tr
                th Depart
                th Flight Schedule
                th Arrive
                th Price
                th Book
        tbody
            if rows
                each row in rows
                    tr
                        td #{row['dpt_arv'][0][0]}
                        if row['hops'] == 0
                            td 
                                div(class='row mb-3')
                                    label Direct
                        else
                            - var n = 0;
                            td
                                while n < parseFloat(row['hops']) + 1
                                    div(class='row mb-3')
                                        label(class='col-label') #{row['path_ap_name'][n]} (#{row['path_ap_code'][n]}) to #{row['path_ap_name'][n+1]} (#{row['path_ap_code'][n+1]})
                                        div(class='row')
                                            label(class='col-label') #{row['dpt_arv'][n][0]} to #{row['dpt_arv'][n][1]}
                                        label(class='col-label')
                                    - n++;
                                    
                        td #{row['dpt_arv'][row['hops']][1]}
                        td #{row['price']}
                        td
                            form(action='/flight/booking/pax_information' method='POST')
                                input(type='hidden' class='form-control' value=row.path_flt_id id='flt_id' name='flt_id')
                                input(type='hidden' class='form-control' value=pax id='pax' name='pax')
                                button(type='submit' class="btn btn-primary") Book
    