extends base.pug

block append content
    div(class='container-fluid')
        h1 Profile Update Successful
        div(class='container-fluid row col-6 mb-3')
                div(class='row mb-3')
                    label(class='col-sm-2 col-label') First Name
                    label(class='col-sm-6 col-label') #{profile.name}
                div(class='row mb-3')
                    label(class='col-sm-2 col-label') Phone
                    label(class='col-sm-6 col-label') #{profile.phone}
                div(class='row mb-3')
                    label(class='col-sm-2 col-label') Country
                    label(class='col-sm-6 col-label') #{profile.country}
                div(class='row mb-3')
                    label(class='col-sm-2 col-label') Gender
                    label(class='col-sm-6 col-label') #{profile.gender}
                div(class='row mb-3')
                    label(class='col-sm-2 col-label') Qualification
                    label(class='col-sm-6 col-label') #{profile.qualification}
    div(class='container-fluid')
        if msg
            span(class="border")
                label(class='col-sm-3 col-form-label') #{msg}

